.container {
    column-gap: 2px;
    background-color: lightslategray;
    padding: 2px;
 }

h1 {
    color: #dbb470;
}

header{
    border-bottom: 2px solid darkgray;
    padding: 1px;
}

.navbar {
    background-color: lightgray;
    padding: 2px;
}

a {
    text-decoration: none;
    color: black;
    border-style: hidden;
}

a:hover {
    background-color: #d5d2d2;
    background-blend-mode: lighten;
}

td {
    border: 1px solid black;
    word-wrap: break-word;
}