<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <link rel="stylesheet" href="../static/styles.css">
    <title>BakeBread</title>
</head>
<body>
<header class="tpl-header-container">
    <div class="tpl-header">
        <h1>BakeBread</h1>
        <a href="/" class="logo-holder">
            <img src="https://cdn-icons-png.flaticon.com/512/3014/3014502.png" width="100" height="100">
        </a>
        <div class="button-header-holder">
            <a href="/">Recipes</a>
            <a href="/add_recipe">Add Recipe</a>
            <a href="/about">About</a>
        </div>
    </div>
</header>
{% block content %}
{% endblock %}
</body>
</html>